@model Producto

<h2 class="mb-4">Agregar Producto</h2>

<form asp-action="Create" method="post" class="card p-4 shadow">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Categoría</label>
        <input asp-for="Categoria" class="form-control" />
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="Activo" class="form-check-input" />
        <label class="form-check-label">Activo</label>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="/Productos" class="btn btn-secondary">Volver</a>

</form>